body{
    background-color: grey;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(7 1fr);
    grid-template-rows: repeat(5 122px);
    grid-gap: 24px;
    width: 1440px;
    height: 900px;
    background-color: blue;
    padding: 24px;
}
.grid-element {
    overflow: hidden;
    position: relative;
}
.grid-element-first {
    grid-area: 1/1/1.5/4; /*ange i pixlar eller procent*/
    background-color: green;
}
.grid-element-second{
    grid-area: 2/1/3/4 ; /*ange i pixlar eller procent*/
    background-color: darkgreen;
}
.grid-element-third{
    grid-area: 1/3/4/5;
    background-color: lightgreen;
}
.grid-element-fourth{
    grid-area: 1/5/2/7;
    background-color: greenyellow;
}
.grid-element-fifth{
    grid-area: 2/5/3/7;
    background-color: yellow;
}
.grid-element-sixth{
    grid-area: 3/5/4/7;
    background-color: lightyellow;
}
.grid-element-seventh{
    grid-area: 4/1/6/3;
    background-color: lightgreen;
}
.grid-element-eight{
    grid-area: 4/3/5/4;
    background-color: yellowgreen;
}
.grid-element-ninth{
    grid-area: 5/3/6/4;
    background-color: greenyellow;
}
.grid-element-tenth{
    grid-area: 4/4/6/6;
    background-color: limegreen;
}
.grid-element-eleventh{
    grid-area: 4/6/6/7;
    background-color: darkgreen;
}
.grid-element-twelfth{
    grid-area: 6/1/7/7 ;
    background-color: lightskyblue;
}
h1 {
    font-size: 64px;
    font-style: oblique;
    color: red;
}